.header {
        overflow: hidden;
        background-color: #F57C36;
        
    }

    .header p {
        float: left;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        text-decoration: none;
        line-height: 15px;
        border-radius: 4px;
    }
    .header p.logo {
        font-size: 25px;
        font-weight: bold;
        color:white
    }
    .header p:hover {
       
        color: #050707

    }
    .header p.active {
        background-color:#8D45FF;
        
    }
    
    .header-right {
        float: right;
    }

    @media screen and (max-width: 500px) {
        .header p {
            float: none;
            display: block;
            text-align:center;
        }
        .header-right {
            float: none;
        }
        
    }
